<!doctype html>
<html>
<head>
    <title>Chat Room</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="chat.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span>chat room </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-3">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>Username</strong>: <%= user.local.email %><br>
                        <strong>Logged On</strong>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-8 chat-box">

        <div id="chat-message-div">

          <% for(var i=0; i<messages.length; i++) {%>
            <% if (user.local.email === messages[i].user) { %>
              <div class="current_user message">
                <p>You</p>
                <p><%= messages[i].msg %></p>
              </div>
              <%} else { %>
                <div class="other_user message">
                  <p>Different User</p>
                  <p><%= messages[i].msg %></p>
                </div>
              <% } %>

          <% } %>

        </div>

        <div id="post-div">
          <form action="/chat-post" method="POST">
            <input type="text" placeholder="message" name="msg">
            <input type="text" class="hidden" name="user" value="<%= user.local.email %>">
            <button type="submit">Submit</button>
          </form>
        </div>
</div>

<script src="main.js"></script>

</body>
</html>
